/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

img{
    width: 100%;
}

.drop-flex{
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* HEADER */
.header-container{
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 999;
}

nav{
    flex-grow: 2;
    display: flex;
    align-items: center;
    height: 70px;
}

.logo{
    line-height: 70px;
    text-align: center;
    width: 90px;
}
.link-left a{
    padding-right: 1em;
    padding-left: 1em;
    color: black;
    text-decoration: none;
}
.link-left ul{
    display: flex;
    list-style-type: none;
}

.link-right{
    display: flex;
    line-height: 70px;
}
.link-right a{
    padding-right: 1em;
    padding-left: 1em;
    color: black;
    text-decoration: none;
}
.link-right ul{
    list-style-type: none;
    display: flex;
    line-height: 70px;
    text-align: center;
}
button{
    background-color: rgb(36 110 249);
    color: white;
    padding: .5em;
}
/* MAIN */

/* Jumbotron */
.jumbotron{
    display: flex;
    margin-top: 4.3em;

    justify-content: center;
    /* DEBUG */
    background-color: red;

}
.container-1{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* DEBUG */
    background-color: blue;
    height: 500px;
}

.big-bar{
     /* DEBUG */
     background-color: lightgreen;
     width: 400px;
}

.small-bar{
    /* DEBUG */
    background-color: lightsalmon;
    width: 300px;
}
.small-bar button{
    margin-top: 2em;
    margin-bottom: 2em;
}

.small-bar a{
    font-size: 3em;
    color: black;
    text-decoration: none;
}

/* Cards */
.bg-white{
    /* DEBUG */
    background-color: aquamarine;
}
.main-container{ 
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1em;
    /* DEBUG */
    background-color: yellow;
}
.card-wrapper h2{
    padding: 20px;
}
.card{
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-left: 20px;
    /* DEBUG */
    background-color: lightcoral;
}

/* Content card */
.modality{
    border: 1px solid black;
    text-align: center;
    margin-bottom: 1.5em;
}
.content{
    margin-left: .5em;
}

.content h3{
    margin-bottom: 1em;
}

.content ul{
    list-style-type: none;
    margin: .5em;
}
/* CAMBIA IMPOSTAZIONE HR */
.content hr{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 70%;
}

.rectangle{
    margin-top: 1em;
    width: calc(100% - 20px);
    padding-bottom: .5em;
}

/* Sezione img */
.sect-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 8em;
}
.big-bar,
.small-bar{
    margin: 1em;
}

/* Businnes */
.col{
    width: calc(100% / 3 - .5em);
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
    /* DEBUG */
    background-color: orange;
}
.img{
    padding: 1.5em;
}
.text{
    padding: 1.5em;
}

/* Titolo DropBox */
.titoloDropBox{
    margin-top: 3em;
    padding: 1em;
    text-align: center;
    /* DEBUG */
    background-color: lightgray;
}

/* Matrioska */
.rectangle-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3em;
    /* DEBUG */
    background-color: lightpink;
    height: 300px;
}
.square{
    width: calc(100% / 3 - 3px);
    display: flex;
    flex-wrap: wrap;
    margin-right: 3px;
    /* DEBUG */
    background-color:violet;
}

.little-square{
    width: calc(100% / 2);
}

/* Sezione prova gratuita */
.heavenly{
    position: relative;
    background-color: lightblue;
    /* DEBUG */
    height: 300px;
}
.your-option{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Sezione domande */
.requests{
    padding-top: 3em;
    width: 50%;
    margin: 0 auto;
}
.requests ul{
    list-style-type: none;
    padding-top: 1em;
}
.requests ul li{
    padding-top: 1em;
    line-height: 2em;
}

/* FOOTER */
footer{
    padding-top: 2em;
    min-height: 300px;
    background-color:red;
}

.footer-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 7px;
}

.footer-row .col {
    width: calc(100% / 3);
    background-color:rgb(35 39 42);
    margin-left: 1em;
}

.footer-row .col h2{
    color: white;
}
.footer-row .col ul{
    list-style-type: none;
    align-items: flex-start;
}

.footer-row .col ul li a{
    color: white;
    text-decoration: none;
}

.footer-row .col ul li {
    padding-top: .8em;
}

.foot{
    width: 90%;
    margin: 0 auto;
}